body{
	font-family: 'PT Sans', sans-serif;
	margin: 0px;
	background-image: url('imagenes/stardust.png');
}
p{
	color: #555555;
}
h1{
	font-family: 'Oswald', sans-serif;
	font-weight: 700
}
#logo{
	height: 100px;
}
.extra-grande{
	font-size: 20px;	
}
ul.navbar{
	/**background-image: url('imagenes/stardust.png');**/
	background-color: white;
	height: 200px;
	list-style-type: none;
}
ul.navbar li{
	float:left;
	padding: 50px;
}